$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-map: "\e915";
$icon-mail: "\e913";
$icon-print: "\e914";
$icon-switch-vertical: "\e912";
$icon-plus: "\e911";
$icon-close: "\e910";
$icon-document: "\e90f";
$icon-phone: "\e90e";
$icon-search: "\e90d";
$icon-arrow_long: "\e900";
$icon-arrow_right: "\e901";
$icon-arrow_left: "\e902";
$icon-arrow_top: "\e903";
$icon-arrow_bottom: "\e904";
$icon-i: "\e905";
$icon-clock: "\e906";
$icon-moon: "\e907";
$icon-sun: "\e908";
$icon-twitter: "\e909";
$icon-facebook: "\e90a";
$icon-vk: "\e90b";
$icon-youtube: "\e90c";

