.map__content {
  position: relative;
  width: 100%;
  padding-bottom: 450px;
}
.map__content iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}