/* Global variables */
/* ======================================================================== */
$main_font_family: "Open Sans";
$title_font_family: "Montserrat";

$main_color: #242325;
$main_color_dark: #131213;

$color_black_light: #514F54;
$color_success: #32C37A;
$color_info: #1CBBC4;
$color_danger: #F2542D;
$color_white_dark: #F3F4F5;
$color_grey: #C2C0C4;

$color_white: #FFFFFF;
$color_black: #000000;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 84.125em;
/* 1346/16 */
