.form {
	&__inner {
		padding: 20px;
		max-width: 400px;
		border: 1px solid #000;
	}

	&__row {
		margin-bottom: 15px;

		.btn,
		input:not([type]),
		input[type=datetime],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			max-width: 100%;
			min-height: 130px;
			resize: vertical;

		}
	}

	&__label {
		color: blue;
	}

	&__message {
		color: grey;
		flex: 20px;
		font-weight: 600;
		text-align: center;
	}

	h3 {
		font-size: 19px;
		font-weight: normal;
		text-transform: uppercase;
	}
}
// Input text and textarea ================================================
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background-color: #ddd;
	// background-color: inherit;
	color: #000;

	border: 1px solid #000;
	padding: 6px 15px;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	font-family: $main_font_family;
	// line-height: $main_line_height;
	border-radius: 5px;
	transition: all 0.3s;
	cursor: pointer;

	&:hover,
	:active,
	:focus,
	:visited {
		border-color: rgba(#000, 1);
		color: #000;
	}

	&.invalid {
		// color: red;
		// background-color: #fff0f0;
		border: 1px solid red;

		@include placeholder {
			color: red;
		}

	}
	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: rgba(#000, 0.4);
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-block;
	height: 14px;
	width: 14px;
	border: 1px solid #aaa;
	overflow: hidden;
	margin-top: -4px;
	vertical-align: middle;
	-webkit-appearance: none;
	outline: 0;
	background: 0 0;
	text-align: center;
	position: relative;
	flex: none;

	&:not(:disabled),
	&:not(:disabled) {
		cursor: pointer;
	}

	&:before,
	&:before {
		display: block;
	}

	&:disabled,
	&:disabled {
		border-color: #ddd;
	}
}

input[type=radio] {
	border-radius: 50%;

	&:checked:before {
		content: '';
		width: 6px;
		height: 6px;
		top: 50%;
		left: 50%;
		margin-top: -3px;
		margin-left: -3px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background: #000;
	}

	&:disabled:checked:before {
		background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
		content: "\2714";
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		line-height: 13px;
		color: #000;
	}

	&:indeterminate:before {
		content: "\f068";
	}

	&:disabled:checked:before,
	&:disabled:indeterminate:before {
		color: #aaa;
	}
}

// .select2 {
// 	&-hidden-accessible {
// 		display: none;
// 	}
//
// 	&-search__field {
// 		display: none;
// 	}
//
// 	&-container {
// 		span {
// 			display: block;
// 		}
//
// 		.form__row & {
// 			width: 100% !important;
// 			// display: block;
// 		}
//
// 		&--open {
// 			z-index: 1050;
// 		}
//
// 		&--default {
// 			.select2 {
// 				&-results {
// 					&__options {
// 						list-style: none;
// 						padding: 0;
// 						margin: 0;
// 					}
//
// 					&__option {
// 						padding: 0.971em 1.175em;
// 						cursor: pointer;
// 						color: rgba(29, 29, 27, 0.5);
//
// 						&--highlighted[aria-selected] {
// 							background: rgba(0, 110, 255, 0.19);
// 							color: rgba(29, 29, 27, 0.6);
// 						}
//
// 						&--selected {
// 							background: rgba(0, 110, 255, 0.19);
// 							color: $main_color;
// 						}
// 					}
// 				}
//
// 				&-dropdown {
// 					position: absolute;
// 					// z-index: 150;
// 					background-color: #fff;
// 					border-radius: 0;
// 					margin-top: 0;
// 					border: 1px solid #DBDBDB;
// 					border-top: 0;
// 					box-shadow: 0 2.1875em 4.6875em rgba(128, 125, 125, 0.15);
//
// 					&--below {}
//
// 					&--above {}
// 				}
//
// 				&-selection {
// 					background: #FFFFFF;
// 					border: 1px solid #DBDBDB;
// 					font-family: $main_font_family;
// 					color: $input_color;
// 					padding: 0.971em 1.175em;
// 					outline: none;
// 					font-weight: 400;
// 					border-radius: 0;
// 					transition: 0.3s;
// 					transition-property: color background border;
// 					width: 100%;
// 					height: auto;
// 					position: relative;
//
// 					// @media (min-width: 768px) {
// 					// 	font-size: $size_xxs;
// 					// }
//
// 					&:hover {
// 						border-color: $input_hover_border_color;
// 						background-color: transparentize($input_hover_bg_color, 0.9);
// 					}
//
// 					&:focus {
// 						border-color: $input_focus_border_color;
// 						background-color: transparentize($input_hover_bg_color, 0.9);
// 					}
//
// 					&--single {
// 						.select2 {
// 							&-selection {
// 								&__rendered {
// 									line-height: 1;
// 									padding: 0 1em 0 0;
// 									color: $input_color;
// 								}
//
// 								&__placeholder {
// 									color: $input_placeholder_color;
// 									overflow: hidden;
// 									white-space: nowrap;
// 									text-overflow: ellipsis;
// 								}
//
// 								&__arrow {
// 									display: flex;
// 									align-items: center;
// 									justify-content: center;
// 									position: absolute;
// 									top: 0;
// 									right: 0;
// 									height: 100%;
// 									width: 2.5em;
// 									padding-bottom: 0.3em;
//
// 									.form__date & {
// 										padding-bottom: 0;
//
// 										&:before {
// 											content: '';
// 											display: block;
// 											border: 0;
// 											width: 0.6em;
// 											height: 0.6em;
// 											border-right: 2px solid rgba(29, 29, 27, 0.5);
// 											border-bottom: 2px solid rgba(29, 29, 27, 0.5);
// 											transform: rotate(-135deg);
// 											margin-bottom: 0.5em;
// 										}
//
// 										b {
// 											margin-top: 0.5em;
// 										}
// 									}
//
// 									b {
// 										// rgba(29, 29, 27, 0.5);
// 										// position: static;
// 										left: auto;
// 										top: auto;
// 										margin: auto;
// 										border: 0;
// 										width: 0.6em;
// 										height: 0.6em;
// 										border-right: 2px solid rgba(29, 29, 27, 0.5);
// 										border-bottom: 2px solid rgba(29, 29, 27, 0.5);
// 										transform: rotate(45deg);
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
//
// 			&.select2-container {
// 				&--open {
// 					z-index: 1050;
//
// 					.select2-selection--single .select2-selection__arrow {
// 						padding-bottom: 0;
//
// 						b {
// 							border: 0;
// 							width: 0.6em;
// 							height: 0.6em;
// 							border-right: 2px solid rgba(29, 29, 27, 0.5);
// 							border-bottom: 2px solid rgba(29, 29, 27, 0.5);
// 							transform: rotate(-135deg);
//
// 						}
//
// 						.form__date & {
// 							// padding-bottom: 0.3em;
//
// 							b {
// 								transform: rotate(45deg);
// 							}
// 						}
//
// 					}
// 				}
//
// 				&--disabled {
// 					.select2 {
// 						&-selection {
// 							background: #FFFFFF;
// 							border: 1px solid #DBDBDB;
// 							font-family: $main_font_family;
// 							color: $input_color;
// 							padding: 0.971em 1.175em;
// 							outline: none;
// 							font-weight: 400;
// 							border-radius: 0;
// 							transition: 0.3s;
// 							transition-property: color background border;
// 							width: 100%;
// 							height: auto;
// 							position: relative;
//
// 							&--single {
// 								background: #FFFFFF;
// 							}
//
// 							&__rendered {
// 								color: rgba(29, 29, 27, 0.5);
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
