// Style for button and pseudo button for input and link

.btn {
	color: $color_white;
	font-family: $main_font_family;
	font-size: 1em;
	font-weight: 500;
	padding: 0.75em 1.875em;

	border: 0.127em solid;
	border-color: $color_success;
	border-radius: 1em;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $color_success;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;

	&:hover {
		background-color: #26925C;
		border-color: #26925C;
		text-decoration: none;

		i {
			color: $color_white;
		}
	}

	&_transparent {
		background-color: transparent;
		border-color: #C2C0C4;
		color: $main_color;

		&:hover {
			border-color: transparent;
			color: $color_white;
		}
	}

	&_arrow {
		position: relative;
		padding: 0.7988em 3.125em 0.7988em 1.25em;

		&:after {
			position: absolute;
			top: 0.377em;
			right: 0.68em;
			font-family: icon;
			content: '\e900';
			font-size: 1.4em;

			color: $color_success;
			transition: color 0.3s;
		}

		&:hover {
			&:after {
				color: $color_white;
			}
		}
	}

	&_toggle {
		padding: 0.7988em 1.25em;
		width: 100%;

		span {
			position: relative;

			&:after {
				position: absolute;
				top: 0.3em;
				right: -2.2em;
				font-family: icon;
				content: '\e904';
			}
		}

	}

}

.dark_theme .btn_transparent {
	color: $color_white;
}
