// start header

.dark_theme .wrapper {
    background-color: $main_color_dark;
    color: $color_white;

}

.dark_theme .main {
    box-shadow: inset 0.063em 0.375em 0.563em -0.375em rgba($color_white, 0.1);

}

.dark_theme .header {
    background-color: $main_color_dark;
    box-shadow: 0 0.125em 1.25em rgba($color_white, 0.1);

}

.dark_theme .header__top {
    border-color: transparent;
}

.dark_theme .sub-menu {
    background-color: rgba($main_color_dark, 0.9);
    // background-color: rgba($main_color_dark, 1);
}

.dark_theme .menu-item-has-children {
    &:after {
        color: $color_success;
    }
}

@media (max-width: 991px) {
    .dark_theme .header__wrap {
        background-color: $main_color_dark;
    }
}

.dark_theme .menu-item a {
    color: $color_white;
}

.dark_theme .seach {
    &__link {
        color: $color_white;
    }
}

.dark_theme .fontsize__btn {
    color: $color_white;
}

.dark_theme .phone,
.dark_theme .phone__link {
    color: $color_white;
}

.dark_theme .phone__drop {
    @media (min-width: 992px) {
        background-color: $main_color;
    }
}

.dark_theme .phone__toggle i {
    color: $color_success;
}

.dark_theme .header__toggle {
    @media (max-width: 991px) {
        color: $color_white;

        &_open {
            &:after,
            &:before {
                border-top: 2px solid $color_white;
            }
        }
    }
}

// end header

// start switch

.dark_theme .switch {
    &__label {
        &:before {
            color: $color_white;
        }

        &:after {
            color: $color_success;

        }
    }
}
// end switch

// start main
.dark_theme .main {
    background-color: $main_color_dark;
}

.dark_theme .section__title {
    color: $color_white;
}

.dark_theme .about__text,
.dark_theme .info__desc {
    color: $color_white_dark;
}

.dark_theme .news__date_reverse,
.dark_theme .news__text_reverse {
    color: $color_white_dark;
}

.dark_theme .news__title_reverse a {
    color: $color_white;
}

.dark_theme .portal__wrap {
    background-color: #242325;
}

.dark_theme .portal__title {
    color: $color_white;
}

.dark_theme .portal__text {
    color: $color_white_dark;
}

.dark_theme .ads {
    background-color: #242325;
}

// end main

// start footer
.dark_theme .footer {
    background-color: $main_color_dark;
}

.dark_theme .footer__inner {
    border-color: $color_black_light;
}

.dark_theme .footer__copyright,
.dark_theme .footer__institution {
    color: $color_white;
}

.dark_theme .toTop {
    a {
        color: $main_color_dark;
    }
}

// end footer

// start search
.dark_theme .information__link,
.dark_theme .search__link {
    a {
        color: $color_white;

    }
}

.dark_theme .searchform__button {
    color: $color_success;

}

.dark_theme .search__input {
    color: rgba($color_white , .8);

    &:hover,
    :active,
    :focus,
    :visited {
        color: $color_white;
    }
}

.dark_theme .searchform__input {
    color: $color_white;
}

.dark_theme .aside__search {
    .searchform__input {
        color: $main_color;

    }
}
// end search

// start information
.dark_theme .information__item {
    background-color: $main_color;
}
// end information

// start aside
.dark_theme .category {
    background: inherit;
    // @media (min-width: 992px) {
    //     background: $main_color_dark;
    //     // background: linear-gradient(to right,$main_color 31%, $main_color_dark 31%);
    // }
    // @media (min-width: 1599px) {
    //     // background: linear-gradient(to right, $main_color 35%, $main_color_dark 40%);
    // }
}

.dark_theme .category__aside {
    background-color: $main_color;

    &:after {
        content: '';
        background-color: $main_color;

    }
}

.dark_theme .aside__link,
.dark_theme .date__link {
    color: $color_white_dark;
}
// end aside

// start breadcrumb
.dark_theme .breadcrumb {
    a {
        color: $color_white;
    }
}
// end breadcrumb

// start category content
.dark_theme .category__filter,
.dark_theme .content {
    a {
        color: $color_white;

        &:after {
            color: $color_white;
        }
    }
}
// end category content

// start faq
.dark_theme .collapse__body {
    color: $color_white_dark;
}
// end faq

// start single
.dark_theme .single__action {
    a {
        color: $color_white_dark;
    }
}

.dark_theme .map__info {
    background-color: $main_color_dark;
    @media (min-width: 992px) {
        background-color: $main_color;
    }
}

.dark_theme .ads {
    background-color: $main_color_dark;
}

.dark_theme .map__address {
    color: $color_grey;
}

.dark_theme .map__phone {
    a {
        color: $color_white_dark;
    }
}
// end single

// start contacts
.dark_theme .mapTabs__item.active {
    @media (min-width: 992px) {
        background-color: $main_color;
    }
}

.dark_theme .contacts__doc,
.dark_theme .form__inner {
    background-color: $main_color;
}

.dark_theme .form__status {
    span {
        color: $color_white_dark;
    }
}
// end contacts
// start fontsize
.dark_theme .fontsize__btn:disabled {
    color: #C2C0C4;
}
// end fontsize
