.drop {
    position: relative;
    margin: 10px 0;
    width: 200px;
    display: inline-block;

    &__toggle {
        border: 1px solid #ddd;
        padding: 5px 15px;
        position: relative;
        z-index: 1;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
        transition: 0.3s;

        &:after {
            content: '>';
            transform: rotate(90deg);
            transition: 0.3s;
        }

        &.active {
            border-radius: 17px 17px 0 0;

            &:after {
                transform: rotate(-90deg);
            }
        }
    }

    &__list {
        // display: none;
        position: absolute;
        width: 100%;
        box-shadow: 0 0 4px rgba(#000, .3);
        border-radius: 0 0 5px 5px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        top: 130%;
        transition: 0.5s;

        &.open {
            // display: block;
            height: auto;
            opacity: 1;
            top: 100%;
        }
    }

    &__item {
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 5px 15px;

        &:hover {
            background: darken(#fff, 10%);
        }
    }

}
