.map {
    &__wrap {
        position: relative;
    }

    &__iframe {
        position: relative;
        width: 100%;
        padding-bottom: 15em;
        @media (min-width: 992px) {
            padding-bottom: 37.75em;
        }

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100% !important;
            height: 100% !important;
        }

    }

    &__content {
        margin-top: 1.5em;

        @media (min-width: 992px) {
            margin-top: 0;
            position: absolute;
            top: 30%;
            width: 33em;

        }

    }

    &__info {

        @media (min-width: 992px) {
            position: relative;
            min-height: 16.5em;
            border-radius: 1em;
            box-shadow: 0.125em 0.125em 1.25em rgba(0, 0, 0, 0.1);

            padding: 2.5em;
            background-color: $color_white;
            z-index: 1;

        }
    }

    &__title {
        margin-bottom: 1.5em;

        span {
            font-family: $title_font_family;
            font-size: 1.5em;
            font-weight: 700;
        }

        @media (min-width: 992px) {
            margin-bottom: 2em;

            span {
                font-size: 2em;
            }

        }
    }

    &__address {
        color: $color_black_light;
        line-height: 1.3;
        margin-bottom: 1em;
    }

    &__mail {
        margin-bottom: 1em;

        a {
            color: $color_success;
            font-weight: 500;
        }
    }

    &__phone {
        a {
            font-weight: 500;
            text-decoration: none;
            color: $main_color;
            font-size: 1.25em;

        }
    }
}

.mapTabs {
    display: flex;
    text-align: center;
    margin-bottom: 2em;

    @media (min-width: 992px) {
        margin-bottom: 0;
    }

    &__item {
        position: relative;
        width: 50%;
        padding: 0.66em 0.75em;
        background-color: $color_success;
        color: $color_white;
        font-weight: 500;
        cursor: pointer;

        // transition: color 0.3s, background-color 0.3s;

        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        margin-right: 1em;

        border: 0.094em solid;
        border-color: $color_success;

        @media (min-width: 992px) {
            border: none;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0.125em;

        }

        &:last-child {
            margin-right: 0;
        }

        @media (min-width: 992px) {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2em;
                right: 0;
                display: block;

                height: 2em;
                background-color: inherit;

            }
        }

        &.active {
            background-color: $color_white;
            color: $main_color;
            border-color: $color_grey;

            @media (min-width: 992px) {
                color: $color_success;
            }

        }

    }
}

.mapTabContent {
    .map__info {
        box-shadow: none;
    }

    &__item {
        display: none;
        // font-size: 0;
        // opacity: 0;
        // transition: 0.3s;

        &.active {
            display: block;
            // font-size: 1em;
            // opacity: 1;
        }
    }
}
