// start seach header

.seach {
    position: absolute;
    top: 1.0625em;
    right: 3.4375em;

    @media (min-width: 992px) {
        position: static;
        margin-right: 1.875em;
    }

    &__link {
        font-size: 1.5em;
        cursor: pointer;
        color: $main_color;

        &:hover {
            color: $color_success;
        }
    }
}

// end seach header
