.searchform {
    &__form {
        position: relative;
        margin-bottom: 2.5em;
    }

    &__input {

        width: 100%;

        background-color: inherit;
        color: rgba($main_color, .8);

        border: 0.063em solid $color_grey;
        padding: 0.833em 1em;
        outline: none;
        font-size: $main_font_size;
        font-weight: 500;
        font-family: $main_font_family;
        border-radius: 1em;
        transition: all 0.3s;
        cursor: pointer;

        &:hover,
        :active,
        :focus,
        :visited {
            border-color: rgba($color_success, .7);
            color: $main_color;
        }

        // Placeholder for input +++++++++++++++
        @include placeholder {
            color: $color_grey;
        }
    }

    &__button {
        position: absolute;
        top: 0.625em;
        right: 1.375em;

        border: none;
        outline: none;
        background-color: transparent;

        cursor: pointer;
        color: $main_color;
        transition: color 0.1s;

        &:after {
            content: '\e90d';
            font-family: 'icon';
            font-size: 1.5em;

            @media (min-width: 992px) {
                display: inline-block;
                transform: scale(1);
                transition: transform 0.3s;
            }
        }

        &:hover {
            color: $color_success;

            @media (min-width: 992px) {
                &:after {
                    transform: scale(1.2);
                }
            }
        }

    }
}
