.search {
    &__content {
        @media (min-width: 992px) {
            width: 54.125em;
        }
    }

    &__search {
        margin-bottom: 2.5em;
    }

    &__result {
        margin-bottom: 2.5em;

        span {
            font-size: 1.125em;
            @media (min-width: 992px) {
                font-size: 1.5em;

            }
        }

    }

    &__item {
        margin-bottom: 2.5em;
        border-bottom: 0.125em solid $color_white_dark;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-family: $title_font_family;
        margin-bottom: 1em;
        font-weight: 600;

        span {
            font-size: 1.5em;

        }
    }

    &__text {
        margin-bottom: 1em;

        p {
            margin: 0;
            line-height: 1.5;
        }
    }

    &__link {
        margin-bottom: 2.5em;

        a {
            position: relative;
            text-decoration: none;
            color: $main_color;
            font-weight: 500;

            &:hover {
                color: $color_success!important;
            }

            &:after {
                position: absolute;
                top: -0.04em;
                right: -1.5em;
                font-family: icon;
                content: '\e900';
                font-size: 1.4em;

                color: $color_success;
                transition: color 0.3s;
            }

        }
    }

}
