extends layout/layout.pug

block content

    .category
        .category__aside
            .aside
                .aside__title
                    span Тематики
                .aside__search.desktop
                    .searchform
                        form.searchform__form
                            input.searchform__input(type="text" placeholder="Поисковый запрос")
                            button.searchform__button(type="submit")

                ul.aside__list
                    li.aside__item
                        a.aside__link(href="#") О гимназии
                    li.aside__item.aside__item_drop
                        a.aside__link(href="#") Современная гимназия
                            span.aside__quantity (4)
                        ul.aside__dropList
                            each item in [1,2,3,4]
                                li.aside__item
                                    a.aside__link(href="#") пункт меню
                    li.aside__item.aside__item_drop
                        a.aside__link(href="#") Основные сведения о гимназии
                            span.aside__quantity (6)
                        ul.aside__dropList
                            each item in [1,2,3,4,5,6]
                                li.aside__item
                                    a.aside__link(href="#") пункт меню
                    li.aside__item
                        a.aside__link(href="#") Фильм «История гимназии»

                    .aside__toggle.mobile.asideToggleClose-js
                        i.icon-close


        .category__content
            ul.breadcrumb
                li
                    a(href="#") Главная
                    li
                        a(href="#") Документация
                        li
                            a(href="#") Информация о гимназии
            h3.category__title
                span Информация о гимназии

            .category__search.mobile
                .searchform
                    form.searchform__form
                        input.searchform__input(type="text" placeholder="Поисковый запрос")
                        button.searchform__button(type="submit")

            .category__button.mobile.asideToggleOpen-js
                .btn.btn_toggle
                    span Другие тематики

            .content

                p Начальная стадия проведения исследования позиционирует повседневный презентационный материал. Узнавание бренда создает пул лояльных изданий. Узнавание бренда без оглядки на авторитеты амбивалентно. До недавнего времени считалось, что емкость рынка существенно специфицирует межличностный формат события. Психологическая среда отталкивает системный анализ. Конкурентоспособность индуцирует поведенческий таргетинг.

                p Такое понимание ситуации восходит к Эл Райс, при этом воздействие на потребителя усиливает социометрический департамент маркетинга и продаж.

                h4 Заголовок четвертого уровня

                p Стратегический рыночный план порождает институциональный пресс-клиппинг. Торговая марка подсознательно масштабирует коллективный бизнес-план. Практика однозначно показывает, что воздействие на потребителя масштабирует ребрендинг. Маркетингово- ориентированное издание определяет стратегический формат события. Социальный статус решительно ускоряет стратегический рыночный план, невзирая на действия конкурентов.

                h5 Ссылки на другие разделы

                h1 Заголовок h1
                h2 Заголовок h2
                h3 Заголовок h3
                h4 Заголовок h4
                h5 Заголовок h5
                h6 Заголовок h6

                h4 список
                ul
                    li Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.
                    li В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.
                    li элемент списка
                    li Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.
                h5 Ссылки на другие разделы
                .linkTo
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года

                h5 Документация
                .doc
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года
                    a(href="#") Значительные события 2016-2017 года

                .category__slider
                    h4 Галерея фото

                    .swiper-container#slider
                        .swiper-wrapper
                            each item in [1, 2]
                                .swiper-slide
                                    .slider__wrap(style="background-image: url('img/slider-min.jpg')")
                        .swiper-button-prev.slider__arrow_prev
                        .swiper-button-next.slider__arrow_next
                        .swiper-pagination
                    //- .swiper-container#categoryGallery
                    //-     .swiper-wrapper
                    //-         each item in [1, 2, 3]
                    //-             .swiper-slide
                    //-                 .categoryGallery__bg(style="background-image: url('img/slider-min.jpg')")
                    //- 
                    //-     .swiper-button-prev.categoryGallery__arrow_prev
                    //-     .swiper-button-next.categoryGallery__arrow_next
                    //-     .swiper-pagination
