extends layout/layout.pug

block content
    // begin faq
    section#faq.faq.section
        .container_center.container_center_sm
            h2.section__title F.A.Q.
            .faq__content
                .collapse(data-collapse-wrapper="")
                    .collapse__title.open(data-collapse="") 
                        span Вопрос о школе
                    // Добавить класс open для открытого состояния
                    .collapse__body.open(data-collapse-body="")
                        p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                        p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

                each title in ['Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг', 'Построение бренда конструктивно', 'Построение бренда конструктивно', 'Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг', 'Построение бренда конструктивно', 'Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг', 'Построение бренда конструктивно']

                    .collapse(data-collapse-wrapper="")
                        .collapse__title(data-collapse="")
                            span= title
                        .collapse__body(data-collapse-body="")
                            p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.

                            p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.

    // end faq
