extends layout/layout.pug

block content

    // begin slider
    section.slider
        .swiper-container#slider
            .swiper-wrapper
                each item in [1, 2]
                    .swiper-slide
                        .slider__wrap(style="background-image: url('img/slider-min.jpg')")
                            .container_center
                                .slider__content
                                    h1.slider__title Последний звонок — 2021
                                    .slider__text Эриксоновский гипноз осознаёт возрастной стресс. Коллективное бессознательное интегрирует генезис
                                    .slider__button
                                        a.btn(href="#") Целевое действие

            .swiper-button-prev.slider__arrow_prev
            .swiper-button-next.slider__arrow_next
            .swiper-pagination
    // end slider

    // begin about
    section#about.about.section
        .container_center
            .about__wrap
                .about__content
                    h2.section__title О гимназии
                    .about__text
                        p Конформизм отчуждает субъект, к тому же этот вопрос касается чего-то слишком общего. Самонаблюдение выбирает генезис. Чувство, как справедливо считает Ф.Энгельс, зеркально дает конвергентный психоз, таким образом осуществляется своего рода связь с темнотой бессознательного. Восприятие изящно начинает филогенез.
                        p Установка вызывает комплекс. Роджерс первым ввел в научный обиход понятие «клиент», так как конформизм осознаёт коллективный контраст. Контраст неизменяем.

                    .about__button
                        a.btn.btn_transparent.btn_arrow(href="") Подробнее

                .about__gallery
                    .info.info_first
                        .info__title 1984
                        .info__desc год основания гимназии
                    .info.info_second
                        .info__title > 100 000
                        .info__desc учеников закончили обучение
                    .gallery
                        each item in [1, 2, 3]
                            .gallery__item
                                .gallery__img(style="background-image: url('img/about/about-"+item+"-min.jpg')")


                    .circle.circle_first(style="background-image: url('img/circle_1-min.png')")
                    .circle.circle_second(style="background-image: url('img/circle_2-min.png')")

    // end about

    // begin news
    section#news.news.section
        .container_center
            h2.section__title Новости
            // start grid
            .news__grid
                //- start grid item
                .news__item
                    .news__bg(style="background-image: url('img/news/news-1-min.jpg')")
                        .news__category важно
                        .news__content
                            .news__date 30 мая 2021
                            .news__title
                                a(href="#") Эко-фестиваль
                            .news__text Ученики 10-11 класса приняли участие в мероприятии эко-недели, организованной Домом Молодежи «Рекорд» 

                //- end grid item

                //- start grid item
                .news__item
                    .news__img(style="background-image: url('img/news/news-2-min.jpg')")
                    .news__content
                        .news__date.news__date_reverse 26 мая 2021
                        .news__title.news__title_reverse
                            a(href="#") Награждение педагогов
                        .news__text.news__text_reverse Во 2 Санкт-Петербургской гимназии, состоялась торжественная церемония награждения нагрудным знаком «Почетный работник воспитания и просвещения Российской Федерации»
                //- end grid item
                //- start grid item
                .news__item
                    .news__img(style="background-image: url('img/news/news-3-min.jpg')")
                    .news__content
                        .news__date.news__date_reverse 26 мая 2021
                        .news__title.news__title_reverse
                            a(href="#") Акция «Белый цветок»
                        .news__text.news__text_reverse В Международный день защиты детей, во всех школах страны проходит акция «Белый цветок». Это всероссийская благотворительная акция, направленная на повышение уровня знаний об инклюзии в обществе
                //- end grid item
                //- start grid item
                .news__item
                    .news__img(style="background-image: url('img/news/news-4-min.jpg')")
                    .news__content
                        .news__date.news__date_reverse 25 мая 2021
                        .news__title.news__title_reverse
                            a(href="#") Международный конкурс юных талантов «Звезда Прометея»
                        .news__text.news__text_reverse В17 мая 2021 года во дворце Меньшикова на Университетской набережной состоялось награждение лауреатов 25-го Международного конкурса юных талантов «Звезда Прометея»
                //- end grid item
                .news__item
                    .news__bg(style="background-image: url('img/news/news-5-min.jpg')")
                        .news__category.news__category_info родителям
                        .news__content
                            .news__date 24 мая 2021
                            .news__title
                                a(href="#") Последний звонок 2021
                            .news__text Во дворе гимназии было солнечно, радостно и празднично. Музыка, шарики, счастливые лица. Природа подарила нашим выпускникам прекрасную погоду

                //- end grid item
                .news__item
                    .news__bg(style="background-image: url('img/news/news-6-min.jpg')")
                        .news__category важно
                        .news__content
                            .news__date 24 апреля 2021
                            .news__title
                                a(href="#") Т-Студия «Театр на Дровяной»
                            .news__text В Актовом зале гимназии, состоялось выступление участников Т- Студии и видеозапись спектакля немецкой народной сказки «Груффало»

                //- end grid item

            // end grid
            .section__button
                a.btn.btn_transparent(href="#") Смотреть все новости
        .circle.desktop(style="background-image: url('img/circle_2-min.png')")
    // end news

    // begin portal
    section#portal.portal.section
        .container_center
            .portal__wrap
                .portal__content
                    h3.portal__title Информационно-образовательный портал гимназии
                    .portal__text Конформизм отчуждает субъект, к тому же этот вопрос касается чего-то слишком общего. Самонаблюдение выбирает генезис.
                    .portal__button
                        a.btn.btn_transparent.btn_arrow(href="#") Перейти на портал

                .portal__bg
                    .portal__img
                        img(src="img/portal/info_girl-min.png", alt="alt")


                    .portal__circle.portal__circle_first(style="background-image: url('img/portal/info_ellipse_1-min.png')")
                    .portal__circle.portal__circle_second(style="background-image: url('img/portal/info_ellipse_2-min.png')")




    // end portal

    // begin ads
    section.ads.section
        .container_center
            h2.section__title Объявления

            .swiper-container#ads
                .swiper-wrapper
                    //- slide start
                    .swiper-slide
                        .ads__item
                            .ads__bg(style="background-image: url('img/ads/ads-1-min.jpg')")
                                .ads__action
                                    .ads__category важно
                                    .ads__timer
                                        .timer(id="trip_2022-02-12T17:51:00")
                                            .timer__item.timer__item_days.daysItem_js
                                                span.timer__number.days_js
                                                span.timer__label.daysTitle_js
                                            .timer__item
                                                span.timer__number.hours_js
                                            .timer__item
                                                span.timer__number.minutes_js
                                            .timer__item
                                                span.timer__number.seconds_js

                                .ads__content
                                    .ads__date 18 июня 2021
                                    .ads__title
                                        a(href="#") Петербургский международный образовательный форум-2021   
                                    .ads__text научно-практической конференции «Образовательная коммуникация в пространстве современной школы: открытость и инновации»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item
                            .ads__bg(style="background-image: url('img/ads/ads-2-min.jpg')")
                                .ads__action
                                    .ads__category важно
                                    .ads__timer
                                        .timer(id="trip_2022-06-12")
                                            .timer__item.timer__item_days.daysItem_js
                                                span.timer__number.days_js
                                                span.timer__label.daysTitle_js
                                            .timer__item
                                                span.timer__number.hours_js
                                            .timer__item
                                                span.timer__number.minutes_js
                                            .timer__item
                                                span.timer__number.seconds_js

                                .ads__content
                                    .ads__date 17 июня 2021
                                    .ads__title
                                        a(href="#") Вакцинация от COVID-19
                                    .ads__text Показательный пример – действие гомогенно начинает когнитивный гомеостаз.
                    //- slide end

                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    .ads__timer
                                        .timer(id="trip_2022-01-29")
                                            .timer__item.timer__item_days.daysItem_js
                                                span.timer__number.days_js
                                                span.timer__label.daysTitle_js
                                            .timer__item
                                                span.timer__number.hours_js
                                            .timer__item
                                                span.timer__number.minutes_js
                                            .timer__item
                                                span.timer__number.seconds_js

                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-4-min.jpg')")
                                .ads__action
                                    //- .ads__category важно
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Открытый урок и Всероссийское родительского онлайн-собрания
                                .ads__text Открытый онлайн-урок, посвященный Дню воссоединения Крыма с Россией
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    .ads__category важно
                                    .ads__timer
                                        .timer(id="trip_2022-01-20T13:38:10")
                                            .timer__item.timer__item_days.daysItem_js
                                                span.timer__number.days_js
                                                span.timer__label.daysTitle_js
                                            .timer__item
                                                span.timer__number.hours_js
                                            .timer__item
                                                span.timer__number.minutes_js
                                            .timer__item
                                                span.timer__number.seconds_js
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    //- .ads__category важно
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    //- .ads__category важно
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    //- .ads__category важно
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end
                    //- slide start
                    .swiper-slide
                        .ads__item.ads__item_reverse
                            .ads__bg(style="background-image: url('img/ads/ads-3-min.jpg')")
                                .ads__action
                                    //- .ads__category важно
                            .ads__content
                                .ads__date 1 июня 2021
                                .ads__title
                                    a(href="#") Отбор на образовательную программу «Лингвистика» 
                                .ads__text Начало конкурсного отбора на образовательную программу «Лингвистика», на базе Образовательного центра «Сириус»
                    //- slide end

                    //- slide start
                    //- .swiper-slide
                    //-     .ads__bg(style="background-image: url('img/ads/ads-2-min.jpg')")
                    //-         .ads__action
                    //-             .ads__category важно
                    //- 
                    //-         .ads__content
                    //-             .ads__date 18 июня 2021
                    //-             .ads__title
                    //-                 a(href="#") Петербургский международный образовательный форум-2021   
                    //-             .ads__text научно-практической конференции «Образовательная коммуникация в пространстве современной школы: открытость и инновации»
                    //- slide end



                .swiper-button-prev.ads__arrow_prev
                .swiper-button-next.ads__arrow_next

            .section__button
                a.btn.btn_transparent(href="#") Смотреть все события

        .ads__circle.ads__circle_left(style="background-image: url('img/ads/ads_circle_left-min.png')")

        .ads__circle.ads__circle_right.desktop(style="background-image: url('img/ads/ads_circle_right-min.png')")

    // end ads

    // begin photoGallery
    section#photoGallery.photoGallery.section
        .container_center
            h2.section__title Галерея фото
            .tabs
                .swiper-container#tabs
                    .swiper-wrapper
                        .swiper-slide
                            .tabs__item.active(data-tab="#plate-1") Последний звонок 2021
                        .swiper-slide
                            .tabs__item(data-tab="#plate-2") Школьные олимпиады
                        .swiper-slide
                            .tabs__item(data-tab="#plate-3") Спортивные мероприятия
                        .swiper-slide
                            .tabs__item(data-tab="#plate-4") Учебные будни
                        .swiper-slide
                            .tabs__item(data-tab="#plate-5") Театральная студия
                        .swiper-slide
                            .tabs__item(data-tab="#plate-6") Концерты
                        .swiper-slide
                            .tabs__item(data-tab="#plate-7") Учебные будни

                .swiper-button-prev.photoGallery__arrow_prev
                .swiper-button-next.photoGallery__arrow_next

            .tabContent
                .tabContent__item.active#plate-1
                    .photoGallery__grid
                        .photoGallery__item.video__wrapper.js-youtube#QEPbamO8i9s
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-4-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA


                .tabContent__item#plate-2
                    .photoGallery__grid
                        .photoGallery__item(style="background-image: url('img/slider-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA
                        .photoGallery__item(style="background-image: url('img/ads/ads-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/ads/ads-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")


                .tabContent__item#plate-3
                    .photoGallery__grid
                        .photoGallery__item.video__wrapper.js-youtube#QEPbamO8i9s
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-4-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA

                .tabContent__item#plate-4
                    .photoGallery__grid
                        .photoGallery__item(style="background-image: url('img/slider-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA
                        .photoGallery__item(style="background-image: url('img/ads/ads-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/ads/ads-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")

                .tabContent__item#plate-5
                    .photoGallery__grid
                        .photoGallery__item.video__wrapper.js-youtube#QEPbamO8i9s
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-4-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA

                .tabContent__item#plate-6
                    .photoGallery__grid
                        .photoGallery__item(style="background-image: url('img/slider-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA
                        .photoGallery__item(style="background-image: url('img/ads/ads-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/ads/ads-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")

                .tabContent__item#plate-7
                    .photoGallery__grid
                        .photoGallery__item.video__wrapper.js-youtube#QEPbamO8i9s
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-2-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-3-min.jpg')")
                        .photoGallery__item(style="background-image: url('img/gallery/gallery-4-min.jpg')")
                        .photoGallery__item.video__wrapper.js-youtube#HM37_IkNGUA

    // end photoGallery

    // begin teachers
    section#teachers.teachers.section
        .container_center
            h2.section__title Наши педагоги
            .tabs
                .swiper-container#teachers
                    .swiper-wrapper
                        .swiper-slide
                            .tabs__item_teachers.active(data-tab="#plate_teachers_0") Все
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_1") Математика
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_2") Русский
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_3") Литература
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_4") Физика
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_5") Химия
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_6") Биология
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_7") Информатика
                        .swiper-slide
                            .tabs__item_teachers(data-tab="#plate_teachers_8") География

                .swiper-button-prev.teachers__arrow_prev
                .swiper-button-next.teachers__arrow_next

            .tabContent
                .tabContent__item_teachers.active#plate_teachers_0
                    .teachers__grid
                        each item in [{ name: 'Константинопольская Мария Ивановна', subject: 'Математика', bg: '1' }, { name: 'Иванова Дарья Петровна', subject: 'Литература', bg: '2' }, { name: 'Спицына София Иосифовна', subject: 'Биология', bg: '3' }, { name: 'Константинопольская Мария Ивановна', subject: 'Математика', bg: '4' }, { name: 'Петров Иван Васильевич', subject: 'Литература', bg: '5' }, { name: 'Романова Ольга Константиновна', subject: 'Биология', bg: '6' },]

                            .teachers__item(style="background-image: url('img/teachers/teachers-"+item.bg+"-min.jpg')")
                                .teachers__content
                                    .teachers__name
                                        span= item.name
                                    .teachers__subject
                                        span.teachers__label Предмет:
                                        span.teachers__title= item.subject
                                    .teachers__blog
                                        span.teachers__label Личный блог:
                                        a.teachers__link(href="#") Название блога
                                    .teachers__attribute
                                        span.teachers__label Доп. атрибут:
                                        span.teachers__title Название

                .tabContent__item_teachers#plate_teachers_1
                    .teachers__grid
                        .teachers__item(style="background-image: url('img/teachers/teachers-2-min.jpg')")
                            .teachers__content
                                .teachers__name
                                    span Иванова Дарья Петровна
                                .teachers__subject
                                    span.teachers__label Предмет:
                                    span.teachers__title Физика
                                .teachers__blog
                                    span.teachers__label Личный блог:
                                    a.teachers__link(href="#") Название блога
                                .teachers__attribute
                                    span.teachers__label Доп. атрибут:
                                    span.teachers__title Название

            .section__button
                a.btn(href="#") Загрузить еще

        .teachers__circle.teachers__circle_left.desktop(style="background-image: url('img/teachers/teachers_ellipse_1-min.png')")
        .teachers__circle.teachers__circle_right.desktop(style="background-image: url('img/circle_2-min.png')")

    // end teachers

    // begin partners
    section#partners.partners.section
        .container_center
            h2.section__title Мы - участники
            .partners__grid
                each item in [0,1,2,4,5,6,7,8,9,0,1,2,3,4,5]
                    .partners__img
                        img(src="img/partners/partners_"+item+"-min.png", alt="alt")

            .partners__circle(style="background-image: url('img/circle_2-min.png')")



    // end partners
