extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") главная
            li
                a(href="search.html") страница поиска
            li
                a(href="information.html") Сведения о образовательной организации






    //- <div class="timer timer-1">
    //-     <div class="timer__items">
    //-         <div class="timer__item timer__days">00</div>
    //-         <div class="timer__item timer__hours">00</div>
    //-         <div class="timer__item timer__minutes">00</div>
    //-         <div class="timer__item timer__seconds">00</div>
    //-     </div>
    //-     <div class="timer__result"></div>
    //- </div>
    //- 
    //- <hr>
    //- 
    //- <div class="timer timer-2">
    //-     <div class="timer__items">
    //-         <div class="timer__item timer__days">00</div>
    //-         <div class="timer__item timer__hours">00</div>
    //-         <div class="timer__item timer__minutes">00</div>
    //-         <div class="timer__item timer__seconds">00</div>
    //-     </div>
    //-     <div class="timer__result"></div>
    //- </div>




    // begin timer
    //- section#timer.timer.section
    //-     .container_center
    //-         .promotion
    //-             .promotion__title Осталось до конца акции:
    //-             .promotion__timer
    //-                 .timer
    //-                     .timer__block
    //-                         span#days дней
    //-                     .timer__block
    //-                         span#hours часов
    //-                     .timer__block
    //-                         span#minutes минут
    //-                     .timer__block
    //-                         span#seconds секунд


    // end timer


    // begin smile
    //- section#smile.smile.section
    //-     .container_center
    //-         h2.section__title smile
    //-         .smile__content
    //-             label
    //-                 input(type="checkbox" name="checkbox")
    //-                 span
    //-                     i

    // end smile



    // begin paginationPreview
    //- section#paginationPreview.paginationPreview.section
    //-     h2.section__title paginationPreview
    //-     .paginationPreview__content
    //-         .pagination                                
    //-             ul.pagination__list
    //- 
    //-                 li.pagination__item.prev
    //-                     a(href="#")
    //- 
    //-                 li.pagination__item
    //-                     a.pagination__link.active(href="#") 1
    //-                 li.pagination__item
    //-                     a.pagination__link(href="#") 2
    //-                 li.pagination__item
    //-                     a.pagination__link(href="#") 3
    //-                 li.pagination__item
    //-                     a.pagination__link(href="#") 4
    //-                 li.pagination__item
    //-                     a.pagination__link(href="#") 5
    //-                 li.pagination__item
    //-                     a.pagination__link(href="#") 6
    //- 
    //-                 li.pagination__item.next
    //-                     a(href="#")


    // end paginationPreview

    // begin tabsPreview
    //- section#tabsPreview.tabsPreview.section
    //-     h2.section__title tabsPreview
    //-     .tabsPreview__content
    //-         .tabs
    //-             .tabs__item.active(data-tab="#plate-1") Item 1
    //-             .tabs__item(data-tab="#plate-2") Item 2
    //-             .tabs__item(data-tab="#plate-3") Item 3
    //-             .tabs__item(data-tab="#plate-4") Item 4
    //- 
    //-         .tabContent
    //-             .tabContent__item.active#plate-1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, possimus.
    //-             .tabContent__item#plate-2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, saepe. Tempora magnam eius nostrum beatae voluptas, quisquam laborum aliquid mollitia.
    //-             .tabContent__item#plate-3  Lorem ipsum dolor sit amet.
    //-             .tabContent__item#plate-4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odio laboriosam nostrum, maxime quo molestiae exercitationem unde, beatae, possimus illum nemo pariatur cumque! Eos, adipisci! Minima, pariatur necessitatibus delectus porro, doloremque, accusamus itaque excepturi deleniti illo a consequuntur magnam et eaque facere numquam nemo. Ut, facilis, repellendus. Aut, magnam, aliquid.

    // end tabsPreview
