extends layout/layout.pug

block content
    .container_center
        ul
            li
                a(href="home.html") главная
            li
                a(href="search.html") страница поиска
            li
                a(href="information.html") Сведения о образовательной организации
            li
                a(href="category.html") Сведения о образовательной организации (о гимназии)
            li
                a(href="faq.html") F.A.Q.

    br

    //- .container_center(style="background:red")
    //- 
    //- 
    //-     .timer(id="trip_2022-02-12T17:51:00")
    //-         .timer__item.timer__item_days.daysItem_js
    //-             span.timer__number.days_js
    //-             span.timer__label.daysTitle_js
    //-         .timer__item
    //-             span.timer__number.hours_js
    //-         .timer__item
    //-             span.timer__number.minutes_js
    //-         .timer__item
    //-             span.timer__number.seconds_js
    //- 
    //- 
    //-     .timer(id="trip_2022-02-12")
    //-         .timer__item.timer__item_days.daysItem_js
    //-             span.timer__number.days_js
    //-             span.timer__label.daysTitle_js
    //-         .timer__item
    //-             span.timer__number.hours_js
    //-         .timer__item
    //-             span.timer__number.minutes_js
    //-         .timer__item
    //-             span.timer__number.seconds_js

    //- <div id="trip_2022-01-12"></div>
    //- <div id="trip_2022-01-11"></div>
    //- <div id="trip_2022-01-10 17:51:32"></div>
    //- <div id="trip_2023-01-01"></div>
