.fontsize {
    &__group {
        display: inline-flex;
        vertical-align: middle;
        border: 0.094em solid;
        border-color: #C2C0C4;
        border-radius: 0.25em;
        background-color: transparent;
        box-shadow: 0.125em 0.125em 1.25em rgba(0, 0, 0, 0.1);

    }

    &__btn {
        color: $main_color;
        font-family: $main_font_family;
        font-size: 1em;
        font-weight: 500;
        margin: 0;
        border: none;
        outline: none;
        display: inline-block;
        background-color: transparent;
        text-align: center;
        max-width: 100%;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 2em;
        height: 2em;
        transition: 0.3s;

        &:disabled {
            color: #C2C0C4;
            cursor: auto;
        }

        // &:first-child {
        //     font-size: 1em;
        // }

        &:nth-child(2) {
            width: 2.125em;
            border-left: 0.094em solid;
            border-right: 0.094em solid;
            border-color: #C2C0C4;
        }

        &:active {
            background-color: #eff0f1;
        }
    }
}
