.teachers__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 17.1875em;
  grid-gap: 2em;
}
.teachers__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
}